body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffefef;
  text-align: center;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 30px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

.main {
  background-color: white;
  margin: 50px 15%;
  padding: 50px;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.home-img {
  flex-basis: 33.333%;
}

.home-img img {
  width: 100%;
}

.about-us {
  column-count: 2;
}

.about-us p {
  margin-top: 0;
  text-align: left;
}

section {
  font-size: 14px;
  overflow: auto;
  margin: 50px;
}

.losos,
.sladka-melancholie {
  text-align: left;
}

.tagliatelle {
  text-align: right;
}

.left,
.right {
  width: 300px;
}

.left {
  float: left;
  margin-right: 50px;
}

.right {
  float: right;
  margin-left: 50px;
}
