body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffefef;
  text-align: center;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

.main {
  background-color: white;
  margin: 50px 15%;
  padding: 50px 70px;
}

.nase-nabidka h1 {
  margin-top: 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.home-img {
  flex-basis: 33.333%;
}

.home-img img {
  width: 100%;
}

.center {
  padding: 0 15px;
}

.about-us {
  column-count: 2;
  column-gap: 50px;
}

.about-us p {
  margin-top: 0;
  text-align: left;
}

section {
  font-size: 14px;
  overflow: auto;
  margin-bottom: 50px;
}

.losos,
.sladka-melancholie {
  text-align: left;
}

.tagliatelle {
  text-align: right;
}

.sladka-melancholie {
  margin-bottom: 0;
}

.losos p,
.tagliatelle p,
.sladka-melancholie p {
  margin-bottom: 35px;
}

.left,
.right {
  width: 300px;
}

.left {
  float: left;
  margin-right: 50px;
}

.right {
  float: right;
  margin-left: 50px;
}

.show-menu {
  text-decoration: none;
  color: black;
  background-color: #ffefef;
  padding: 10px;
}

.show-menu:hover,
.show-menu:focus,
.show-menu:active {
  background-color: pink;
}
